:root {
	--default: #10101A;
	--subcolor: #1ABC9C;
}

.bg-darker {
	background-color: var(--default);
	
}
.bg-green {
	background-color: var(--subcolor);
}

.header-text {
	font-family: 'Black Ops One', cursive;
	color: white;
	font-size: 2.5rem;
}


.subcolor {
	color:  var(subcolor);
}

.btn-outline-subcolor{
	color: var(--subcolor);
	border-color: var(--subcolor);
}
.btn-outline-subcolor:hover{
	color: white;
	background-color: var(--subcolor);
}

.btn-outline-subcolor:active{
	color: white;
	background-color: var(--subcolor);
}
h1, h2, h3, h4, h5, h6, .header-subtext{
	font-family:  'Shanti', sans-serif;
}

p, li{
	font-family:  'Roboto', sans-serif;
}

.header-gradient {
	background: linear-gradient(-45deg, var(--subcolor), #6bc5f8, var(--subcolor), #6bc5f8);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: gradient 2s ease infinite;
	background-size: 400% 400%;
}	
#navbar {
	background-color: var(--default);
}
/*
#landing {
	background-image: url("./images/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
}*/

/*#landing-cover{
	background-color: rgba(16,16,26,0.8);
}
*/
@keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}